:host {
    display: flex;
    flex-direction: column;

    padding: 8px;

    .prayer-row {
        display: flex;
        flex-direction: column;

        margin: 4px 0;
        padding: 8px;
        border-radius: 8px;

        color: #fff;
        background-color: #666;

        &:hover {
            background-color: #777;
        }

        &.active {
            background-color: #949;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        .thanks {
            &::after {
                content: 'Dank';
                margin-left: 20px;
            }
        }

        .delete {
            margin-right: auto;
        }

        &.new {
            span:empty::after {
                content: 'Neues Gebet hinzufügen...'
            }
        }
    }
    
    .button {
        margin-top: 12px;
        border: none;
        padding: 12px;
        border-radius: 16px;

        color: #fff;
        background-color: #4070c0;

        &:hover {
            background-color: #4a7aca;
        }
    }
}